<div class="adminVipsPartial">
  <table>
       <thead>
            <tr>
                 <td><img src="/images/photos.png" alt="photos"></td>
            </tr>
       </thead>
       <tbody>
            <tr>
                 <td><a href="/Administration/Photos/AjouterPhotoTest">Ajouter</a></td>
            </tr>
            <tr>
                 <td><a href="/Administration/Photos/SupprimerPhotoTest">Supprimer</a></td>
            </tr>
     </tbody>
  </table>
</div>
