<div class="adminVipsPartial">
  <table>
       <thead>
            <tr>
                 <td><img src="/images/vips.png" alt="vips"></td>
            </tr>
       </thead>
       <tbody>
            <tr>
                 <td ><a href="/Administration/Vips/AjouterVipTest">Ajouter</a></td>
            </tr>
            <tr>
                 <td class="traitHorizontal"><a href="/Administration/Vips/ModifierVipTest">Modifier</a></td>
            </tr>
            <tr>
                 <td class="traitHorizontal"><a href="/Administration/Vips/SupprimerVipTest">Supprimer</a></td>
            </tr>
     </tbody>
  </table>
</div>
