<div class="AffAlb">
     <div class="albums">
          <fieldset>
               <legend>Album</legend>
               Choisissez un vip pour voir ses photos !
          </fieldset>
     </div>
     <div class="listeVipAlb">
          {{> albumVipsPartial0-11}}
     </div>
</div>
