<div class="AffArt">
     <div class="articles">
          <fieldset>
               <legend>Article</legend>
               Choisissez un vip pour voir ses articles !
          </fieldset>
     </div>
     <div class="listeVipArt">
          {{> articleVipsPartial}}
     </div>
</div>
