<div class="containerglob">
  <div id="easyPaginate">     <!--   class="listePhotos"  -->
    {{#each photos}}
      <a href="/album/{{this.numStar}}"><img class="album" src="/images/vip/{{this.PHOTO_ADRESSE}}"></a>
    {{/each}}
  </div>
</div>
