<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/css/structure.css" />
        <title>{{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="header">
                <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            </div>
            <div class="menu_haut">
              {{#unless session.login}}
                <a class="connexionBtn" href="/PageConnexion"><strong><i>Se connecter</i></strong></a>
                <ul>
                  <li><a href="/Home">ACCUEIL</a></li>
                  <li class="traitVertical"><a href="/PageConnexion">VIPS</a></li>
                  <li class="traitVertical"><a href="/PageConnexion">PHOTOS</a></li>
                </ul>
              {{else}}
                <a class="connexionBtn" href="/Deconnexion">Bonjour {{session.login}}  <strong><i>Déconnexion</i></strong></a>
                <ul>
                  <li><a href="/Home">ACCUEIL</a></li>
                  <li class="traitVertical"><a href="/Administration/Vips">VIPS</a></li>
                  <li class="traitVertical"><a href="/Administration/Photos">PHOTOS</a></li>
                </ul>
              {{/unless}}
            </div>
            <div id="contenu">
                {{{body}}}
            </div>
            <div id="footer">
                L'encyclopédie des stars depuis février 2017 (en NodeJS)
                <br />
                © IUT du Limousin DUT Informatique année 2
                <br />
                Appllication réalisée par Simon BATARDIERE
                <br />
                <img src="/images/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
            </div>
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/supprVipOnChange.js"></script>
    </body>
</html>
